# Python
__pycache__/
*.py[cod]
*.egg-info/
db.sqlite3

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/
